<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}SongSurf{% endblock %}</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='design-system.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}">
	{% block extra_css %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}

	<script src="{{ url_for('static', filename='js/api.js') }}"></script>
	<script src="{{ url_for('static', filename='js/components/watcher-inactivity.js') }}"></script>
	{% block extra_js %}{% endblock %}
</body>
</html>